<%= image_tag("banner.png", :size=>'760x100', :alt=>'Panther Logo')%>
<li><%= link_to("Back", :controller => 'checkout') %></li>

<h2>Select Device</h2>
<div class="checkout">
<table class="listing" summary="Section list">

   
        <tr class="header">
          <th></th>
	  <th> ID </th>
          <th>Make</th>
          <th>Model</th>
          <th>Serial Number</th>
          <th>Available</th>
        </tr>
       
        
        <% @devices.each do |device| %>
        <tr>
          <td><%= button_to("SELECT", {:action => 'update' , :id => device.id}, :class => 'action edit') %></td>
	  <td> <%= device.id %> </td>
          <td><%= device.make %></td>
          <td><%= device.model %></td>
          <td><%= device.serial_no %></td>
          <td><%= device.available %></td>
        </tr>
<% end %>
</table>
  	

</div>
	

	
        
      
