<div class="banner">
	<%= image_tag("banner.png", :size=>'760x100', :alt=>'Panther Logo')%>
</div
    <div class="sections index">
      <%= link_to("Back to Home", :controller => 'welcome') %>
      <h2>Devices</h2>

      <%= link_to("Add New Device", {:action => 'new'}, :class => 'action new') %>
	
	<br></br>

      <table class="listing" summary="Section list">
        <tr class="header">
          
	  <th>ID Number</th>
          <th>Make</th>
          <th>Model</th>
          <th>Serial Number</th>
          <th>Available</th>
          <th>Date Checked Out</th>
          <th>Date Due</th>
          <th>Rented By</th>
        </tr>
        <% @devices.each do |device| %>
        <tr>
          
	  <td> <%= device.id %> </td>
          <td><%= device.make %></td>
          <td><%= device.model %></td>
          <td class="center"><%= device.serial_no %></td>
          <td class="center"><%= device.available%></td>
	  <td><%= device.day_checked_out %></td>
          <td class="center"><%= device.day_due %></td>
          <td class="center"><%= device.person_rented_id_no %></td>
          <td class="actions">
            <%= link_to("Show", {:action => 'show' , :id => device.id},  :class => 'action show') %>
            <%= link_to("Edit", {:action => 'edit' , :id => device.id}, :class => 'action edit') %>
            <%= link_to("Delete", {:action => 'delete', :id => device.id}, :class => 'action delete') %>
          </td>
        </tr>
        <% end %>
      </table>
    </div> 


