<%= image_tag("banner.png", :size=>'760x100', :alt=>'Panther Logo')%>
<br></br>
    <%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

    <div class="people edit">
      <h2>Update Person</h2>

      <%= form_for(:people, :url => {:action => 'update', :id => @persons.id}) do |f| %>

        <%= render(:partial => "form", :locals => {:f => f}) %>

        <div class="form-buttons">
          <%= submit_tag("Update Person") %>
        </div>


      
      <% end %>
    </div> 
