<%= image_tag("banner.png", :size=>'760x100', :alt=>'Panther Logo')%>
<%= link_to("Back to Home", :controller => 'welcome') %>
    <div class="sections index">
      <h2>People</h2>

      <%= link_to("Add New Person", {:action => 'new'}, :class => 'action new') %>

	<br></br>

      <table class="listing" summary="Section list">
        <tr class="header">
          <th>First Name</th>
          <th>Last Name</th>
          <th>ID Number</th>
          <th>Action</th>
        </tr>
        <% @persons.each do |person| %>
        <tr>
          <td><%= person.first_name %></td>
          <td><%= person.last_name %></td>
          <td><%= person.id_no %></td>
          <td>
            <%= link_to("Show", {:action => 'show' , :id => person.id},  :class => 'action show') %>
            <%= link_to("Edit", {:action => 'edit' , :id => person.id}, :class => 'action edit') %>
            <%= link_to("Delete", {:action => 'delete', :id => person.id}, :class => 'action delete') %>
          </td>
        </tr>
        <% end %>
      </table>
    </div> 


