
<%= image_tag("banner.png", :size=>'760x100', :alt=>'Panther Logo')%>
<br></br>
    <%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

    <div class="people show">
      <h2>Show Person</h2>

     <table summary="Person detail view">
        <tr>
          <th>First Name</th>
          <td><%= @persons.first_name %></td>
        </tr>
        <tr>
          <th>Last Name</th>
          <td><%= @persons.last_name %></td>
        </tr>
        <tr>
          <th>ID Number</th>
          <td><%= @persons.id_no %></td>
        </tr>
        
      </table>

    </div> 


